.about-container {
    margin-top: 150px;

    .info-container {
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        margin: 0 auto;

        @media #{$small} {
            flex-direction: row;
            margin-bottom: 150px;
        }
        
        &__box {
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media #{$small} {
                width: 50%;
            }

            .team {
                width: 100%;
                max-width: 600px;
            }

            .heading {
                width: 80%;
                margin-top: 0;
                font-size: 30px;
                margin-top: 30px;
                margin-bottom: 30px;

                @media #{$small} {
                    font-size: 45px;
                    margin-top: 0;
                }

                span {
                    position: relative;

                    img {
                        position: absolute;
                        top: -10px;
                    }
                }
            }

            .description {
                width: 70%;
                text-align: justify;
            }
        }
    }
}
