.navbar {
    padding: 20px 55px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
    background: $sky-transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media #{$large} {
        padding: 20px 80px;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;

        &:hover {
            .logo {
                transform: rotate(20deg);
            }

            .txt {
                letter-spacing: 2px;
            }
        }

        .logo {
            width: 60px;
            height: 60px;
            transition: all 0.3s;
        }

        .txt {
            margin-left: 3px;
            font-weight: 900;
            font-size: 40px;
            letter-spacing: 5px;
            color: $sea;
            transition: all 0.3s;
        }
    }

    &__links {
        display: none;
        font-size: 24px;

        @media #{$large} {
            display: flex;
        }

        a {
            color: $grey;
            background: linear-gradient(to bottom, $line 0%, $line 100%);
            background-position: 0 100%;
            background-repeat: repeat-x;
            background-size: 15px 15px;
            color: $grey;
            text-decoration: none;
            transition: all 0.2s;
            width: 200px;
            position: relative;

            &:active {
                color: $sea;
            }

            &:hover {
                background-size: 4px 50px;
                color: $white;
            }

            img {
                position: absolute;
                top: 35px;
                left: 33%;
                width: 61px;
            }
        }

        .link {
            margin: 10px;
        }
    }
}
