.form-container {
    width: 90%;
    margin: 0 auto;
    margin-top: 150px;

    @media #{$mid} {
        width: 80%;
        max-width: 800px;
    }

    .single-wave {
        width: 60px;
    }

    .form {
        padding: 5%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        background: $border-transparent;
        border-radius: 10px;

        @media #{$mid} {
            width: 60%;
        }

        &__input {
            padding: 10px;
            margin: 10px;

            &::placeholder {
                text-transform: capitalize;
                font-family: $secondary-font;
                font-weight: 400;
            }
        }

        button {
            background: #79cbc4;
            width: 200px;
            margin: 0 auto;
        }
    }
}
