.payment-details {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;

    @media #{$small} {
        width: 50%;
    }

    &__msg {
        font-size: 30px;
        font-weight: 900;
        color: $grey;
        margin-bottom: 15px;
    }

    &__txt {
        font-size: 16px;
        margin-bottom: 15px;
        text-align: justify;
        line-height: 24px;
        max-width: 360px;

        a {
            color: $strong;
            font-weight: 700;
            cursor: pointer;
            margin-right: 5px;
        }
    }

    .btn-wrapper {
        margin-top: 15px;
        
        a {
            background: $border;
            padding: 15px;
            border: none;
            cursor: pointer;
            font-family: $secondary-font;
            font-size: 18px;
            font-weight: 300;
            border-radius: 10px;
            color: $grey;
            transition: all 0.3s;

            &:hover {
                box-shadow: 0px 36px 60px 5px $shadow;
                transform: scale(1.1);
            }
        }
    }
}
