.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
    margin-top: 100px;
    max-width: 1200px;

    .product {
        background: $white;
        box-shadow: 2px 2px 0px 2px $border;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 12px;
        align-items: center;
        margin: 20px;
        width: 200px;
        padding: 10px;
        position: relative;
        border-radius: 10px;
        transform: scale(1);
        transition: all 0.3s;

        &:hover {
            box-shadow: 0px 36px 60px 5px $shadow;
            transform: scale(1.1);
        }

        a {
            color: $grey;
        }

        &-img {
            width: auto;
            height: 150px;

            img {
                height: 88%;
            }
        }

        &-model {
            font-size: 14px;
            text-transform: capitalize;
            margin: 5px 0;
        }

        &-price {
            color: $strong;
            font-weight: 700;
            margin-bottom: 5px;
        }

        &-soldout {
            position: absolute;
            font-size: 18px;
            padding: 10px;
            color: $strong;
            font-weight: bold;
            border: 3px solid $strong;
            border-radius: 5px;
            background: #ffd9ff8f;
            transform: rotate(20deg);
        }

        button {
            margin-top: 15px;
            transition: 0.3s;

            &:hover {
                box-shadow: 0px 10px 20px 5px $shadow;
            }
        }
    }
}
