.details-container {
    margin: 0 auto;
    margin-top: 150px;
    max-width: 1200px;
    height: 74.5vh;

    a {
        color: $grey;
    }

    .go-back {
        width: 90px;
        background-color: $line;
        padding: 5px;
        border-radius: 5px;
        margin: 30px auto;
    }

    .details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media #{$small} {
            flex-direction: row;
            padding: 0 100px;
        }

        &-img {
            align-self: baseline;
            width: 80%;
            margin: 0 auto;
            margin-bottom: 10px;
            // border: 10px solid #32b8b4;
            // border-radius: 25px;

            @media #{$small} {
                width: 40%;
                // transform: rotate(-4deg);
            }
        }

        &__desc {
            width: 80%;
            max-width: 600px;

            @media #{$small} {
                padding: 0 30px;
            }

            &-model {
                font-size: 24px;
                text-transform: capitalize;
                font-weight: 900;
                margin-bottom: 10px;
            }

            &-description {
                text-align: justify;
                margin-bottom: 20px;
                line-height: 24px;
                font-size: 16px;
            }

            &-price {
                color: #ff247a;
                font-weight: 900;
                margin-bottom: 15px;
                font-size: 24px;
            }

            button {
                margin-bottom: 20px;
            }
        }
    }
}
