/* Media queries */
$xsmall: "screen and (max-width: 575px)";
$small: "screen and (min-width: 576px)";
$mid: "screen and (min-width: 768px)";
$large: "screen and (min-width: 992px)";
$xlarge: "screen and (min-width: 1200px)";
$xxlarge: "screen and (min-width: 1600px)";

/* Colors */

$white: white;
$border: #ddeef0;
$light: #f9faf8;
$light-grey: #efeeee;
$grey: #3a3a3a;
$regular-btn: rgb(179, 174, 174);
$shadow: #6666665e;
$dark: black;
$strong: #ff247a;
$mint: #d0fef0;
$sky-transparent: #ddeef0c2;
$sea: #32b8b4;
$sea-light: #96d3d1;
$sea-transparent: #a5d7d5ed;
$line: #5bd7d3;
/* Fonts */
$primary-font: "Encode Sans Expanded", sans-serif;
$secondary-font: "Spartan", sans-serif;
