@import "./styles/export";

body {
  background-color: $light;
}

.App {
  text-align: center;
  font-family: $secondary-font;
}

.wave {
  position: fixed;
  bottom: -6px;
  left: 0;
  right: 0;
  z-index: -1;
}
